<h2>Identification</h2>

<%= form_tag login_path do %>
  <table class="table" style="width:310px">
    <tr>
      <th width="120"><%= label_tag :email %></th>
      <td><%= text_field_tag :email, params[:email], autofocus: true %></td>
    </tr>
    <tr>
      <th><%= label_tag :password, 'Mot de passe' %></th>
      <td><%= password_field_tag :password, params[:password] %></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="#">Mot de passe oublié ?</a></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "S'identifier", class: 'btn-submit' %></td>
    </tr>
  </table>
<% end %>


<h2>S'inscrire</h2>
<p>
  Si vous n'avez pas encore de compte, vous pouvez déposer une
  <a href="#">demande d'adhésion</a>
</p>