<p id="notice"><%= notice %></p>

<h1><i class="fas fa-wrench"></i> Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Members count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.label %></td>
        <td><%= status.members_count %></td>
        <td><%= link_to 'Show', status %></td>
        <td><%= link_to 'Edit', edit_status_path(status) %></td>
        <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_status_path %>
