<h2>Gestion des types de cotisation</h2>

<table class="table table-bordered table-hover">
  <tr>
    <th>Libellé</th>
    <th>Expire le</th>
    <th>Montant</th>
    <th>Créé le</th>
    <th>Actions</th>
  </tr>
  <% @contribution_types.each do |contribution_type| %>
    <tr>
      <td><%= contribution_type.label %></td>
      <td><%= l contribution_type.expires_on %></td>
      <td><%= number_to_currency contribution_type.amount %></td>
      <td><%= l contribution_type.created_at.to_date %></td>
      <td>
        <%= link_to image_tag('edit.png'), edit_contribution_type_path(contribution_type), 'data-no-turbolink' => true %>
        <%= link_to image_tag('delete.png'), contribution_type, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } if contribution_type.contributions_count == 0 %>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= new_contribution_type_path %>" class="btn" data-no-turbolink="true"><%= image_tag('add.png') %> Nouveau type</a>