<h2>Configuration</h2>

<%= form_tag settings_path do %>
  <table class="table" style="width: 540px;">
    <tr>
      <th width="165"><%= label_tag :settings_association_name, t('settings.association_name') %></th>
      <td><%= text_field_tag 'settings[association_name]', Settings.association_name %></td>
    </tr>
    <tr>
      <th><%= label_tag :settings_association_description, t('settings.association_description') %></th>
      <td><%= text_area_tag 'settings[association_description]', Settings.association_description, rows: 5 %></td>
    </tr>
    <tr>
      <th><%= label_tag :settings_association_website, t('settings.association_website') %></th>
      <td><%= text_field_tag 'settings[association_website]', Settings.association_website %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag 'Sauvegarder', class: 'btn-submit' %></td>
    </tr>
  </table>
<% end %>

<script>
$(function () {
  $('[data-toggle="popover"]').popover({trigger: 'hover'})
})
</script>