<%= form_for @income do |f| %>
  <%= render 'application/error_messages', target: @income %>

  <table class="table" style="width:500px">
    <tr>
      <th width="125"><%= f.label :label %></th>
      <td><%= f.text_field :label %></td>
    </tr>
    <tr>
      <th><%= f.label :amount %></th>
      <td><%= f.text_field :amount, style: 'width:90px' %> <%= Setting.currency %></td>
    </tr>
    <tr>
      <th><%= f.label :account_id %></th>
      <td><%= f.collection_select :account_id, Account.all, :id, :reference, include_blank: true %></td>
    </tr>
    <tr>
      <th><%= f.label :activity_id %></th>
      <td><%= f.collection_select :activity_id, Activity.all, :id, :label, include_blank: true %></td>
    </tr>
    <tr>
      <th><%= f.label :date %></th>
      <td><%= f.text_field :date, value: @income.date ? l(@income.date) : nil, class: 'datepicker', style: 'width:150px' %></td>
    </tr>
    <tr>
      <th><%= f.label :received %></th>
      <td><%= f.check_box :received %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Annuler', incomes_path, class: 'btn-action' %>
        <%= link_to 'Supprimer', @income, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn-action' unless @income.new_record? %>
        <%= f.submit 'Sauvegarder', class: 'btn-submit' %>
      </td>
    </tr>
  </table>
<% end %>