<h2>Liste des recettes</h2>

<table class="table table-bordered table-hover">
  <tr>
    <th>Libellé</th>
    <th>Montant</th>
    <th>Compte</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  <% @incomes.each do |income| %>
    <tr>
      <td><%= income.label %></td>
      <td><%= number_to_currency income.amount %></td>
      <td><%= income.account %></td>
      <td><%= income.received ? l(income.date) : 'Non perçue' %></td>
      <td>
        <%= link_to image_tag('details.png'), income if can? :show, income %>
        <%= link_to image_tag('edit.png'), edit_income_path(income), 'data-no-turbolink' => true if can? :update, income %>
        <%= link_to image_tag('delete.png'), income, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } if can? :destroy, income %>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= new_income_path %>" class="btn" data-no-turbolink="true"><%= image_tag('add.png') %> Nouvelle recette</a>
