<%= form_for @contribution do |f| %>
  <%= render 'application/error_messages', target: @contribution %>

  <table class="table" style="width:520px;">
    <tr>
      <th width="165"><%= f.label :account_id %></th>
      <td><%= f.collection_select :account_id, Account.all, :id, :reference, include_blank: true %></td>
    </tr>
    <tr>
      <th><%= f.label :contribution_type_id %></th>
      <td><%= f.select :contribution_type_id, options_for_select(ContributionType.all.map { |c| [c.label, c.id, {'data-amount' => c.amount}] }, @contribution.contribution_type_id), include_blank: true %></td>
    </tr>
    <tr>
      <th><%= f.label :amount %></th>
      <td><%= f.text_field :amount, style: 'width:90px' %> <%= Setting.currency %></td>
    </tr>
    <tr>
      <th><%= f.label :member_id %></th>
      <td><%= f.collection_select :member_id, Member.order(:first_name), :id, :to_s, include_blank: true %></td>
    </tr>
    <tr>
      <th><%= f.label :date %></th>
      <td><%= f.text_field :date, value: @contribution.date ? l(@contribution.date) : nil, class: 'datepicker', style: 'width:150px' %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Annuler', contributions_path, class: 'btn-action' %>
        <%= link_to 'Supprimer', @contribution, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn-action' unless @contribution.new_record? %>
        <%= f.submit 'Sauvegarder', class: 'btn-submit' %>
      </td>
    </tr>
  </table>
<% end %>

<script type="text/javascript">
$(function() {
  $('#contribution_contribution_type_id').change(function(e) {
    $('#contribution_amount').val($('#contribution_contribution_type_id option:selected').data('amount'));
  });
});
</script>