<h2>Liste des cotisations</h2>

<table class="table table-bordered table-hover">
  <tr>
    <th>Compte</th>
    <th>Type</th>
    <th>Montant</th>
    <th>Membre</th>
    <th>Versée le</th>
    <th>Actions</th>
  </tr>
  <% @contributions.each do |contribution| %>
    <tr>
      <td><%= contribution.account.reference %></td>
      <td><%= contribution.contribution_type.label %></td>
      <td><%= number_to_currency contribution.amount %></td>
      <td><%= contribution.member %></td>
      <td><%= l contribution.date %></td>
      <td>
        <%= link_to image_tag('edit.png'), edit_contribution_path(contribution), 'data-no-turbolink' => true if can? :update, contribution %>
        <%= link_to image_tag('delete.png'), contribution, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } if can? :destroy, contribution %>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= new_contribution_path %>" class="btn" data-no-turbolink="true"><%= image_tag('add.png') %> Enregistrer une cotisation</a>

<%= paginate @contributions %>
