<div class="alert alert-success">
  <strong>Bienvenue dans la version 1.0 de Piwam !</strong>
</div>

<h2>Enregistrer un Membre</h2>

<%= form_for @member, url: setup_path do |f| %>
  <%= render 'application/error_messages', target: @member %>

  <table class="table" style="width:350px;">
    <tr>
      <th width="120"><%= f.label :last_name %>*</th>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <th><%= f.label :first_name %>*</th>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th><%= f.label :email %>*</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password %>*</th>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit 'Etape suivante >', class: 'btn-submit' %></td>
    </tr>
  </table>
<% end %>