<%= form_for @activity do |f| %>
  <%= render 'application/error_messages', target: @activity %>

  <table class="table" style="width:445px">
    <tr>
      <th width="75"><%= f.label :label %></th>
      <td><%= f.text_field :label %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Annuler', activities_path, class: 'btn-action' %>
        <%= link_to 'Supprimer', @activity, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn-action' unless @activity.new_record? %>
        <%= f.submit 'Sauvegarder', class: 'btn-submit' %>
      </td>
    </tr>
  </table>
<% end %>