<h2>Liste des activités</h2>

<table class="table table-bordered table-hover">
  <tr>
    <th>Libellé</th>
    <th width="120">Créée le</th>
    <th width="90">Actions</th>
  </tr>
  <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.label %></td>
      <td><%= l activity.created_at.to_date %></td>
      <td>
        <%= link_to image_tag('details.png'), activity %>
        <%= link_to image_tag('edit.png'), edit_activity_path(activity) %>
        <%= link_to image_tag('delete.png'), activity, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= new_activity_path %>" class="btn"><%= image_tag('add.png') %> Nouvelle activité</a>