<h2>Détails pour "<%= @activity %>"</h2>

<table class="table table-dotted" style="width:inherit">
  <tr>
    <th><%= image_tag 'time.png' %> Enregistrée le :</th>
    <td><%= creator(@activity) %></td>
  </tr>
  <tr>
    <th><%= image_tag 'time.png' %> Mise à jour le :</th>
    <td><%= updater(@activity) %></td>
  </tr>
</table>

<h3>Recettes et dépenses</h3>
<table id="payments" class="table table-bordered table-hover table-sorter">
  <thead>
    <tr>
      <th>Libellé</th>
      <th width="70">Débit</th>
      <th width="70">Crédit</th>
      <th width="140">Compte</th>
      <th width="90">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @activity.incomes.received.each do |income| %>
      <tr>
        <td><%= income.label %></td>
        <td></td>
        <td class="success"><%= number_with_precision income.amount, precision: 2, delimiter: ' ' %></td>
        <td><%= income.account %></td>
        <td><%= l income.date %></td>
      </tr>
    <% end %>
    <% @activity.expenses.paid.each do |expense| %>
      <tr>
        <td><%= expense.label %></td>
        <td class="danger"><%= number_with_precision expense.amount, precision: 2, delimiter: ' ' %></td>
        <td></td>
        <td><%= expense.account %></td>
        <td><%= l expense.date %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="success <%= 'danger' if @activity.expenses.paid.sum(:amount) > @activity.incomes.received.sum(:amount) %>">
      <td><strong>TOTAL</strong></td>
      <td><%= number_with_precision @activity.expenses.paid.sum(:amount), precision: 2, delimiter: ' ' %></td>
      <td><%= number_with_precision @activity.incomes.received.sum(:amount), precision: 2, delimiter: ' ' %></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<h3>Créances et dettes</h3>
<table class="table table-bordered table-hover">
  <tr class="success">
    <td>Créances</td>
    <td width="65">-</td>
    <td width="65"><%= number_with_precision @activity.incomes.where(received: false).sum(:amount), precision: 2, delimiter: ' ' %></td>
    <td width="65">-</td>
  </tr>
  <tr class="danger">
    <td>Dettes</td>
    <td><%= number_with_precision @activity.expenses.where(paid: false).sum(:amount), precision: 2, delimiter: ' ' %></td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr class="success <%= 'danger' if @activity.expenses.where(paid: false).sum(:amount) > @activity.incomes.where(received: false).sum(:amount) %>">
    <td><strong>TOTAL</strong></td>
    <td>-</td>
    <td>-</td>
    <td><%= number_to_currency @activity.incomes.where(received: false).sum(:amount) - @activity.expenses.where(paid: false).sum(:amount) %></td>
  </tr>
</table>


<script type="text/javascript">
$(function() {
  $('#payments').tablesorter({
    sortList: [[4,0]],
    dateFormat: 'uk'
  }); 
});
</script>
