<h2>Gestion des dépenses</h2>

<table class="table table-bordered table-hover">
  <tr>
    <th>Libellé</th>
    <th>Montant</th>
    <th>Compte</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.label %></td>
      <td><%= number_to_currency expense.amount %></td>
      <td><%= expense.account %></td>
      <td><%= expense.paid ? l(expense.date) : 'Non payée' %></td>
      <td>
        <%= link_to image_tag('details.png'), expense %>
        <%= link_to image_tag('edit.png'), edit_expense_path(expense), 'data-no-turbolink' => true %>
        <%= link_to image_tag('delete.png'), expense, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= new_expense_path %>" class="btn" data-no-turbolink="true"><%= image_tag('add.png') %> Nouvelle dépense</a>