<h2>Détails d'une dépense d'argent</h2>

<table class="table table-dotted" style="width:inherit">
  <tr>
    <th width="130">Id :</th>
    <td><%= @expense.id %></td>
  </tr>
  <tr>
    <th>Libellé :</th>
    <td><%= @expense.label %></td>
  </tr>
  <tr>
    <th>Montant :</th>
    <td><%= number_to_currency @expense.amount %></td>
  </tr>
  <tr>
    <th>Compte affecté :</th>
    <td><%= @expense.account %></td>
  </tr>
  <tr>
    <th>Activité :</th>
    <td><%= @expense.activity %></td>
  </tr>
  <tr>
    <th>Effective le :</th>
    <td><%= @expense.paid ? l(@expense.date) : 'Non payée' %></td>
  </tr>
  <tr>
    <th><%= image_tag 'time.png' %> Créé le :</th>
    <td><%= creator(@expense) %></td>
  </tr>
  <tr>
    <th><%= image_tag 'time.png' %> Mise à jour le :</th>
    <td><%= updater(@expense) %></td>
  </tr>
</table>

<%= link_to 'Éditer', edit_expense_path(@expense), class: 'btn-action' %>
<%= link_to 'Retour', expenses_path, class: 'btn-action' %>