<h2>Exporter les données</h2>

<p>Choisissez les données que vous souhaitez exporter :</p>

<%= image_tag 'puce1.gif' %> <%= link_to 'Liste des membres', members_path(format: 'csv') %><br>
<%= image_tag 'puce1.gif' %> <%= link_to 'Recettes', incomes_path(format: 'csv') %><br>
<%= image_tag 'puce1.gif' %> <%= link_to 'Dépenses', expenses_path(format: 'csv') %>