<h2>Liste des membres</h2>

<%= search_form_for @q, class: 'form-inline' do |f| %>
  <div class="form-group">
    <%= f.search_field :first_name_or_last_name_start %>
  </div>
  <%= f.submit 'rechercher', class: 'btn-submit' %>
<% end %>

<table class="table table-bordered table-hover">
  <tr>
    <th><%= sort_link @q, :last_name %></th>
    <th><%= sort_link @q, :first_name %></th>
    <th><%= sort_link @q, :status_id %></th>
    <th><%= sort_link @q, :city %></th>
    <th width="80">Actions</th>
  </tr>
  <% @members.each do |member| %>
    <tr class="<%= 'warning' unless member.exempt_of_contributions or member.contributions.joins(:contribution_type).where('expires_on >= ?', Date.today).exists? %>">
      <td><%= member.last_name %></td>
      <td><%= member.first_name %></td>
      <td><%= member.status %></td>
      <td><%= member.city %></td>
      <td>
        <%= member.email.present? ? mail_to(member.email, image_tag('mail.png')) : image_tag('no_mail.png') %>
        <%= link_to image_tag('edit.png'), edit_member_path(member) %>
        <%= link_to image_tag('details.png'), member %>
        <%= link_to image_tag('delete.png'), member, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } unless member == @current_member or member.contributions.any? %>
      </td>
    </tr>
  <% end %>
</table>

<!-- Legend -->
<div class="panel panel-info">
  <div class="panel-heading">Légende</div>
  <div class="panel-body">
    <p><span style="display: inline-block; width: 24px; height: 17px; background-color: #e6e0d1;">&nbsp;</span> Cotisation non à jour</p>
    <p><span style="display: inline-block; width: 24px; height: 17px; background-color: #fff; border: 1px solid #bbb;">&nbsp;</span> Cotisation à jour</p>
  </div>
</div>

<a href="<%= new_member_path %>" class="btn"><%= image_tag('add.png') %> Enregistrer un membre</a>

<%= paginate @members %>
