<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#profile" data-toggle="tab">Profil</a></li>
  <li><a href="#memberships" data-toggle="tab">Cotisations</a></li>
  <li><a href="#permissions" data-toggle="tab">Droits</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <!-- Profile -->
  <div class="tab-pane active" id="profile">
    <h2>Informations détaillées <%= link_to image_tag('edit.png'), edit_member_path(@member) %></h2>
    <table class="table table-dotted">
      <tr>
        <th width="170">Photo :</th>
        <td><%= image_tag @member.photo.url %></td>
      </tr>
      <tr>
        <th>Nom :</th>
        <td><%= @member.last_name %></td>
      </tr>
      <tr>
        <th>Prénom :</th>
        <td><%= @member.first_name %></td>
      </tr>
      <tr>
        <th>Email :</th>
        <td><%= @member.email %></td>
      </tr>
      <tr>
        <th>Statut :</th>
        <td><%= @member.status %></td>
      </tr>
      <tr>
        <th>Date d'inscription :</th>
        <td><%= @member.registered_on %></td>
      </tr>
      <tr>
        <th>Exempté de cotisation :</th>
        <td><%= image_tag @member.exempt_of_contributions ? 'state_ok.png' : 'state_ko.png' %></td>
      </tr>
      <tr>
        <th>Adresse :</th>
        <td><%= @member.street %></td>
      </tr>
      <tr>
        <th>Pays :</th>
        <td><%= image_tag "flags/#{@member.country.downcase}.png" if @member.country %></td>
      </tr>
      <tr>
        <th>Email :</th>
        <td><%= @member.email %></td>
      </tr>
      <tr>
        <th>Site Internet :</th>
        <td><%= @member.website %></td>
      </tr>
      <tr>
        <th>Téléphone fixe :</th>
        <td><%= @member.phone_number %></td>
      </tr>
      <tr>
        <th>Téléphone portable :</th>
        <td><%= @member.mobile_number %></td>
      </tr>
      <tr>
        <th>Actif :</th>
        <td><%= image_tag @member.active ? 'state_ok.png' : 'state_ko.png' %></td>
      </tr>
      <tr>
        <th><%= image_tag 'time.png' %> Enregistré le :</th>
        <td><%= creator(@member) %></td>
      </tr>
      <tr>
        <th><%= image_tag 'time.png' %> Dernière édition :</th>
        <td><%= updater(@member) %></td>
      </tr>
    </table>
    <%= link_to 'Éditer', edit_member_path(@member), class: 'btn-action' %>
  </div>
  
  <!-- Memberships -->
  <div class="tab-pane" id="memberships">
    <h2>Liste des cotisations</h2>
    <div class="panel">
      <div class="panel-body">
        <% if @member.contributions.any? %>
          <% @member.contributions.each do |contribution| %>
            <%= contribution.contribution_type.label %> versée le <%= l contribution.date %><br>
          <% end %>
        <% else %>
          <em>Aucune cotisation versée par ce membre.</em>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Permissions -->
  <div class="tab-pane" id="permissions">
    <h2>Droits de l'utilisateur <%= link_to image_tag('edit.png'), edit_member_path(@member) %></h2>
    <div class="panel">
      <div class="panel-body">
        <% if @member.permissions.any? %>
          <ul>
            <% @member.permissions.each do |permission| %>
              <li><%= t "permissions.#{permission.to_s}" %></li>
            <% end %>
          </ul>
        <% else %>
          <em>Ce membre n'a aucun droit pour le moment.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>