<%= form_for @account do |f| %>
  <%= render 'application/error_messages', target: @account %>

  <table class="table">
    <tr>
      <th width="35"><%= f.label :label %>*</th>
      <td>
        <%= f.text_field :label, style: 'width: 350px;' %>
        <%= image_tag 'tooltip_icon.gif', title: 'Libellé', data: { toggle: 'popover', content: 'Intitulé complet du compte, avec éventuels numéro de compte, banque, etc...' } %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :reference %>*</th>
      <td>
        <%= f.text_field :reference, style: 'width: 210px;' %>
        <%= image_tag 'tooltip_icon.gif', title: 'Référence', data: { toggle: 'popover', content: "Courte référence permettant d'identifier le compte" } %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to 'Annuler', accounts_path, class: 'btn-action' %>
        <%= link_to 'Supprimer', @account, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn-action' unless @account.new_record? %>
        <%= f.submit 'Sauvegarder', class: 'btn-submit' %>
      </td>
    </tr>
  </table>
<% end %>

<script>
$(function () {
  $('[data-toggle="popover"]').popover({trigger: 'hover'})
})
</script>