<h2>Liste des comptes</h2>

<table class="table table-bordered table-hover">
  <tr>
    <th>Libellé</th>
    <th>Référence</th>
    <th>Enregistré le</th>
    <th></th>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.label %></td>
      <td><%= account.reference %></td>
      <td><%= l account.created_at %></td>
      <td>
        <%= link_to image_tag('details.png'), account if can? :show, account %>
        <%= link_to image_tag('edit.png'), edit_account_path(account) if can? :update, account %>
        <%= link_to image_tag('delete.png'), account, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } if can? :destroy, account %>
      </td>
    </tr>
  <% end %>
</table>

<a href="<%= new_account_path %>" class="btn"><%= image_tag('add.png') %> Enregistrer un compte</a>
