<h2>Détails du compte <%= @account.reference %></h2>

<table class="table table-dotted" style="width:inherit">
  <tr>
    <th width="130">Libellé :</th>
    <td><%= @account.label %></td>
  </tr>
  <tr>
    <th>Référence :</th>
    <td><%= @account.reference %></td>
  </tr>
  <tr>
    <th><%= image_tag 'time.png' %> Enregistré le :</th>
    <td><%= creator(@account) %></td>
  </tr>
  <tr>
    <th><%= image_tag 'time.png' %> Mise à jour le :</th>
    <td><%= updater(@account) %></td>
  </tr>
</table>

<%= link_to 'Éditer', edit_account_path(@account), class: 'btn-action' %>
<%= link_to 'Retour à la liste', accounts_path, class: 'btn-action' %>